p there are {{debates.length}} debates(s)
div(ng-repeat='debate in debates')
  h3 {{debate.title}}
  div {{debate.text}}
  div ({{debate.yayCount}} Yays, {{debate.nayCount}} Nays)
  a(href='readPost/{{debate.id}}') more...