p There are {{posts.length}} questions
div(ng-repeat='question in questions')
  h3 {{post.title}}
  div {{post.text}}
  a(href='readPost/{{post.id}}') More
  |  -
  a(href='editPost/{{post.id}}') Edit
  |  -
  a(href='deletePost/{{post.id}}') Delete